body,ol,ul,h1,h2,h3,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#F6F6F6;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
ul,li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}


.header{
	height: 50px;
	background: white;
}
.header_top{
	margin:0 auto;
	width: 1000px;
}

.main_icon{
	width: 70px;
	height: 50px;
	background: url(zhihu_index.png) 0 0;
}

.header li{
	float: left;
	font-size: 16px;
	margin-left: 30px;
	line-height: 50px;
	color: #9FA6B6;
}

.searchbar{
	width: 400px;
	height: 50px;
}

.searcher{
	height: 32px;
	width: 300px;
	color: #CBCBCB;
	margin:8px 0 0 30px;
	font-size: 16px;
	background: #F6F6F6;
	border-radius: 3px;


}
.search_icon{
	color: #CBCBCB;
	height: 35px;
	width: 35px;
}

.searchbtn{
	width: 60px;
	height: 34px;
	background: #3485F7;
	color: white;
	margin: 8px 0 0 15px;
	font-size: 16px;
	border-radius: 5px;

}


.user_icon{
	margin-top: 8px;
	width: 30px;
	height: 30px;
	background: blue;
	margin-left: 40px;
}

.bell_icon{
	width: 30px;
	height: 30px;
	background: url(zhihu_index.png) -130px -25px;
	margin-left: 40px;
	margin-top: 8px;
}

.chat{
	margin-top: 8px;
	width: 30px;
	height: 30px;
	background: url(zhihu_index.png) -267px 0;
	margin-left: 40px;
}

.container{
	width: 1000px;
	margin:0 auto;
	background:#F6F6F6;
}

.container_l{
	width: 700px;
	
}

.container_l_nav{
	width: 700px;
	height: 55px;
	background: white;
	margin-top: 10px;
	

}

.container_l_nav ul{
	margin-left: 20px;
}

.container_l_nav li{
	height: 52px;
	line-height: 55px;
	float: left;
	font-size: 16px;
	margin-right: 40px;
	color: #4B4B4B;
	border-bottom: 3px solid #3485F7;
}

.container_content{
	width: 700px;
	height: 500px;
	background: white;

}

.container_content_branch{
	width: auto;
	min-height: 120px;
	background: white;
	border-top: 2px solid #F6F6F6;
	padding: 20px;
}

.container_content .container_content_branch .article h3{
	font-size: 20px;
}

.article_content{
	font-size: 16px;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	color: #1A1A1A;

}

.support{
	margin-top: 15px;
	width: auto;
	height: 30px;

}

.agree{
	width: 90px;
	height: 30px;
	background: #EAF3FE;
	border-radius: 5px;
}
.agree div{
	width: 18px;
	height: 16px;
	background: url(zhihu_index.png) 0 -55px;
	margin: 6px 5px 0 5px;
}

.agree p{
	line-height: 30px;
	font-size: 14px;
	color: #3485F7;
}

.disagree{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-left: 5px;
	background:#EAF3FE ;

}
.disagree div{
	width: 18px;
	height: 16px;
	background: url(zhihu_index.png) 0 -75px;
	margin: 5px 5px 0 5px;
}
.comment{
	height: 30px;
	margin-left: 25px;
}
.comment li{
	float: left;
	color: #8E97A9;
	font-size: 14px;
	line-height: 30px;
	margin-left: 25px;
}

.comment p{
	float: left;
}

.comment .s{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 4px;
	float: left;

}

.s1{
	background: url(zhihu_index.png) -250px 0;
}
.s2{

	background: url(zhihu_index.png) 0 -180px;
}
.s3{
	background: url(zhihu_index.png) 0 -160px;
}
.s4{
	background: url(zhihu_index.png) 0 -95px;
}
.s5{
	background: url(zhihu_index.png) 0 -230px;
	vertical-align: bottom;
}

.container_r{
	margin-top: 10px;
	width: 290px;


}
.container_r_writing{

	padding: 30px 20px 0;
	margin-bottom: 10px;
	height: 60px;
	background: white;
}

.container_r_writing li{
	float: left;
	font-size: 16px;
	color: #848484;
}

.writing_middle{
	margin: 0 50px;
}
.writing_icon{
	padding-left:10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.writing_icon .s1{
	width: 20px;
	height: 20px;
	background: url(zhihu_index.png) -5px -200px;
}
.writing_icon .s2{
	width: 20px;
	height: 20px;
	background: url(img/zhihu_index.png) -78px -2px;
}

.writing_icon .s3{
	width: 20px;
	height: 20px;
	background: url(img/zhihu_index.png) -2px -138px;
}

.icon_middle{
	margin:0 78px;
}

.container_r_store{
	padding: 30px 20px;
	background: white;
	font-size: 14px;
	color: #929AAC;
	height: 140px;
}
.container_r_store p{
	width: 30px;
	text-align: right;

}


.live i{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 80px;
	background: url(zhihu_index.png) -100px -25px;

}

.bookstore i{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 80px;
	background: url(zhihu_index.png) -100px -25px;
}
.discuss i{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(img/zhihu_index.png) -100px 2px;

}
.special{
	margin-top: 10px;
}
.special i{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 80px;
	background: url(zhihu_index.png) -155px -0px;
}
.inquery{
	margin-top: 10px;
}
.inquery i{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(zhihu_index.png) -193px -0px;
}
.container_r_ad{
	margin-top: 10px;
	width: 290px;
	height: 250px;
	background:white;
}

.container_r_userhistory{
	margin-top: 10px;
	padding: 20px;
	background:white;

}
.personallist{
	color: #BDC2CD;
	font-size: 16px;
}

.personallist li{
	margin: 0 0 10px 3px;
}
.star{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(zhihu_index.png) 0px -160px;
	vertical-align: bottom;
}

.focus{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(zhihu_index.png) -130px 0px;
	vertical-align: middle;
}

.myinvite{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(zhihu_index.png)  0px -250px;
	vertical-align: middle;
}

.mycoupon{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(zhihu_index.png) 0 -270px ;
	vertical-align: middle;
}

.station{
	display: inline-block;
	width: 20px;
	height: 20px;

	background: url(zhihu_index.png) 0px -160px;
	vertical-align: middle;
}
.right{
	display: inline-block;
	width: 20px;
	height: 20px;

	background: url(zhihu_index.png) -225px 0px;
	vertical-align: middle;
}
